
<div class="container-fluid main-footer">
    <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <p>Главный офис:<br>115162 г. Москва, ул. Мытная, д. 42-44, стр. 12.<br>Тел. (495) 645-61-61, 237-7571, факс (495) 645-61-07<br>Генеральная лицензия №1405</p>
        </div>
        <div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-2 col-xs-12 col-xs-offset-0">
            <p>Кор.счет 30101810800000000676<br>в Отделении 1 Главного управления Центрального Банка Российской Федерации<br>по Центральному федеральному округу г. Москва Отделение 1 Москва<br>БИК 044583676</p>
        </div>
    </div>
</div>
