{% load cms_tags staticfiles sekizai_tags menu_tags cbr_rates %}
{% get_cbr_rates as cbr_rates %}


<div class="row">
  <h3>Курсы валют ЦБ РФ <a class="blue" href="#">{{ cbr_rates.Date }}</a></h3>
  <span>Доллар США </span>{{ cbr_rates.USD.Value }}<br />
  <span>Евро </span>{{ cbr_rates.EUR.Value }}
</div>

{#{% static_placeholder 'kurs_valut' %}#}

<aside>
    <ul>
        <li><a href="{% page_url 'private-customers' %}"><img src="{% static "img/icn_user.png" %}" alt="" width="22px"><span>Частным клиентам</span></a></li>
        <li><a href="{% page_url 'corporate_cliens' %}"><img src="{% static "img/icn_business.png" %}" alt="" width="22px"><span>Корпоративным<br>клиентам</span></a></li>
        <li><a href="{% page_url 'credit-institutions' %}"><img src="{% static "img/icn_wallet.png" %}" alt="" width="22px"><span>Кредитным<br>организациям</span></a></li>
        <li><a href="{% page_url 'plastic-cards' %}"><img src="{% static "img/icn_card.png" %}" alt="" width="22px"><span>Пластиковые карты</span></a></li>
        <li><a href="{% page_url 'rsbonlayn' %}"><img src="{% static "img/icn_online.png" %}" alt="" width="22px"><span>РББ.Онлайн</span></a></li>
        <li><a href="{% page_url 'individual-safes' %}"><img src="{% static "img/icn_vault.png" %}" alt="" width="22px"><span>Индивидуальные сейфы</span></a></li>
        <li><a href="{% page_url 'commemorative-coins' %}"><img src="{% static "img/icn_coins_dopmenu_blue.png" %}" alt="" width="22px"><span>Памятные монеты</span></a></li>
        <li><a href="{% page_url 'forms-and-documents' %}"><img src="{% static "img/icn_case.png" %}" alt="" width="22px"><span>Бланки и документы</span></a></li>
        <li><a href="{% page_url 'rates' %}"><img src="{% static "img/Icn_tariff.png" %}" alt="" width="22px"><span>Тарифы</span></a></li>
        <li><a href="{% page_url 'information-about-maximum-interest-rate' %}"><img src="{% static "img/icn_percent_dopmenu_blue.png" %}" alt="" width="22px"><span>Информация о максимальных процентных ставках по вкладам физических лиц</span></a></li>
        <li><a href="{% page_url 'implementation-collateral-property' %}"><img src="{% static "img/icn_realty.png" %}" alt="" width="22px"><span>Реализация залогового<br>имущества</span></a></li>
    </ul>
</aside>
