{% extends "base.html" %}

{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}


{% block content %}
{% include 'top-menu.html' %}

    <div class="container-fluid corp-page-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">

                    <ul class="breadcrums">
                        {% show_breadcrumb "partials/breadcrumb.html" %}
                    </ul>
<iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;msa=0&amp;msid=115453948435209999388.000496f945f28e4c7417a&amp;ll=55.72711,37.597961&amp;spn=0.386675,0.769043&amp;z=10&amp;output=embed"></iframe>
                    {% placeholder "content" %}

                </div>

                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 aside-block">
                   {% include 'partials/menu.html' %}
                </div>

            </div>
        </div>
    </div>

{% endblock content %}