{% extends "base.html" %}

{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}


{% block content %}

    {% include 'top-menu.html' %}

    <div class="container-fluid corp-page-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">

                    <ul class="breadcrums">
                        {% show_breadcrumb "partials/breadcrumb.html" %}
                    </ul>

                    {% placeholder "content" %}

                </div>

                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 aside-block">
                    <div class="row"><h3>Курсы валют <a href="#" class="blue">2 сентября 2015</a></h3>
                    <span>Доллар США </span><span>24,12 / 25,40</span><br>
                    <span>Евро </span><span>21,19 / 22,69</span><br></div>
                    <aside>
                        <ul>
                            <li><a href="#"><img src="{% static "img/icn_user.png" %}" alt="" width="22px"><span>Частным клиентам</span></a></li>
                            <li><a href="#"><img src="{% static "img/icn_wallet.png" %}" alt="" width="22px"><span>Кредитным<br>организациям</span></a></li>
                            <li><a href="#"><img src="{% static "img/icn_card.png" %}" alt="" width="22px"><span>Пластиковые карты</span></a></li>
                            <li><a href="#"><img src="{% static "img/icn_online.png" %}" alt="" width="22px"><span>РББ.Онлайн</span></a></li>
                            <li><a href="#"><img src="{% static "img/icn_vault.png" %}" alt="" width="22px"><span>Индивидуальные сейфы</span></a></li>
                            <li><a href="#"><img src="{% static "img/icn_case.png" %}" alt="" width="22px"><span>Бланки и документы</span></a></li>
                            <li><a href="#"><img src="{% static "img/Icn_tariff.png" %}" alt="" width="22px"><span>Тарифы</span></a></li>
                            <li><a href="#"><img src="{% static "img/icn_realty.png" %}" alt="" width="22px"><span>Реализация залогового<br>имущества</span></a></li>
                        </ul>
                    </aside>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}